services:
  backend:
    build: ./backend
    env_file:
      - /backend/.env
    networks:
      - internal
    restart: unless-stopped
  frontend:
    build: ./frontend
    volumes:
      - ./frontend/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    networks:
      - internal

networks:
  internal:
    driver: bridge